{
    box-sizing: border-box;
}

/*CSS palette options  
 COLOR PALETTE -- goto     www.color.adobe.com palette inspiration
 #3F2140 - Darkest Purple
 #B294F2 - Lt Purple
 #7263A6 - Med Purple
 #F2E088 - Lt Gold
 #F2B66D - Gold

Color Palette #2:
#FFD67C Lt Gold
#7F7C79 Med Gray
#FFF7F2 Beige
#AD8B70 Brown
#CCC6C1 Lt Gray

Color Palette #3:
#3F638C Dk Blue
#3E9FDA Lt Blue
#FEFEFB White
#9F8364 Brown
#A39895 Lt gray/brown
*/

body {
	background-color:#F2F2F5;
	color:#483d37; 
	margin: 0 auto;
	width: 100%;
	font-family: "Helvetica";
}
html{
  font-family: "Helvetica";
}
header {
  background-color:#3170AC;
  color: #ffffff;
  width: 100%;
}
.italic {
  font-style: italic;
}
#ghost, #more-less, #disappear, #invisible{
  display: none;
}
.button {
  display: block;
    line-height: 2em;
    border-radius: 5px;
    width: 10%;
    background:#D2D3D9;
    text-align: center;
    padding: 0 .5rem;
    font: 12px;
    margin: 1em, .75em;
}
[class*="col-"] {
    float: left;
    padding: 10px;
    width: 100%;
    margin: 0;
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
.menu.col-2 ul {
    margin: 0px;
    padding: 5px;
    overflow: hidden;
}
.menu.col-2 li {
    color: #ffffff;
    padding: 12px;
    margin: 7px 6px 7px 0px;
    background-color:#D2D3D9;
    font-size: 18px;
    overflow: hidden;
    list-style-type: none;
}
.menu li:hover {
    background-color: #ffffff;
}
.footer {
    background-color: #3170AC;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding: 15px;
}